body {
    background-color: rgb(47, 11, 80);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.main-nav {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.main-nav a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

/* Style du message de bienvenue à gauche de l'écran */
#welcome-message {
    position: fixed;
    top: 20%;
    left: 0;
    background-color: rgba(236, 77, 236, 0.9);
    color: white;
    padding: 15px 30px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    display: none; /* C'est caché par défaut */
    transform: translateY(-50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

#welcome-message span {
    font-weight: normal; 
}

#welcome-message.show {
    transform: translateY(0); 
}
.form-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
}

.switch {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

.switch button {
    padding: 10px;
    border: none;
    background: hotpink;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.form-box {
    display: none;
}

.form-box.active {
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    background: hotpink;
    color: white;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    background: darkviolet;
}
