body {
    background-color: rgb(47, 11, 80);
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.header {
    padding: 20px;
    
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.title {
    color: rgb(236, 77, 236);
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}

.main-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-nav li {
    margin: 0 15px;
}

.main-nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.main-nav .acheter a {
    border: 2px solid violet; /* Ajout de la bordure */
    border-radius: 5px; /* Arrondir les coins */
    padding: 5px 10px; /* Ajouter du padding pour rendre la bordure plus visible */
    transition: background-color 2s ease; /* Transition pour un effet au survol */
    color: rgb(95, 18, 95);
    cursor: pointer;
}
.main-nav li a:hover{
    background-color: red;
    border-radius: 20px; /* Changer la couleur de fond au survol */
}
.container {
    justify-content: center; /* Center the content horizontally */
    padding: 20px;
    margin : 15 auto;
}

.main {
    display: flex;
    max-width: 100%; /* Limit the maximum width of the container */
    margin: 0 auto; /* Center the main container */
    flex-direction: row-reverse;
    background-color:rgb(40, 12, 63);
    border-radius: 5px;
}

.left {
    flex: 1; 
    padding: 20px;
    display: flex;
    justify-content: end;
}

.left img {
    width: 100%; /* Adjust image size */
    max-width: 200px; /* Set a maximum width for the image */
    height: auto;

}

.right {
    flex: 1; /* Take equal space as .left */
    padding: 20px 15px;
}

.right h1 {
    font-family: 'Arial', sans-serif;
    margin: 0 0 10px;
    font-size: 37px;
    color:aliceblue;
    font-weight: bold;
}

.right p {
    margin: 15px 0;
    color:white;
}

.btn {
    padding: 10px 20px;
    background-color: hotpink;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}


.btn:hover {
    background-color: darkviolet;
}
.social {
    display: flex;
    margin-top: 20px;
    gap:10px    
}

.social a {
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border :1px solide white;
}

.social a img {
    border :1px solid white;
    width: 90px; 
    height: 85px; 
    box-shadow: 0 2px 4px rgba(14, 219, 147, 0.941);
    border-radius: 15px;
    padding: 15px;
    background-color: rgb(46, 41, 41);
}

.social a:hover img {
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

